@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,700;0,800;1,100;1,200;1,300&family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,100;1,400;1,600&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: #0d0d0d;
}

/* global styles for btn common  */
.btn-common {
  padding: 1rem 2rem;
  color: #f0f8ff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}
.btn-common:hover {
  border: 1px solid #f0f8ff;
  background-color: #0d0d0d;
  transform: scale(1.02);
  transition: transform 280ms ease-out 50ms;
}
/* global styles for btn common  */
/* header style starts here 001 */
.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  color: #fff;
  padding: 2rem;
  margin: 1rem 0;
}
.navlist {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  list-style-type: none;
  padding: 1rem;
}

.navlist li {
  margin: 0 1rem;
}

.navlist li a {
  text-decoration: none;
  color: #f0f8ff;
}
.navlist li a:hover {
  color: #0c8bfd;
  transform: scale(1.05);
  transition: transform 280ms ease-out 50ms;
}
.btn-login {
  background-color: #0c8bfd;
  padding: 0.8rem 2rem;
}

/* header section ends here  */
/* hero starts here  */
.hero-parent {
  width: 100vw;
  display: flex;
  justify-content: center;
  justify-items: center;
  color: #f0f8ff;
  margin: 3rem 0rem;
}
.left-section {
  width: 40vw;
}
.text-section h1 {
  font-size: 50px;
  font-weight: 500;
}
.text-section h1 .heading-blue {
  color: #0c8bfd;
  font-weight: 600;
  font-style: italic;
}
.text-section p {
  margin: 2rem 0;
  color: #848688;
  font-size: 17px;
}
/* btn section yaha se start hota hais jisme 2 button hai  */
.btn-section {
  margin-left: -2rem;
}

.left-btn {
  border: 1px solid #f0f8ff;
  background-color: #0d0d0d;
  margin: 1rem 2rem;
  padding: 0.9rem 2rem;
  border-radius: 1.5rem;
}

.right-btn {
  border: 1px solid #f0f8ff;
  background-color: #0d0d0d;
  padding: 0.9rem 2rem;
  border-radius: 1.5rem;
}
.left-btn:hover {
  background-color: #0c8bfd;
}
.right-btn:hover {
  background-color: #0c8bfd;
}
/* btn section yaha pe khatm hota hais jisme 2 button hai  */

/* right section start here  */
.right-section {
  width: 40%;
}
.right-section img {
  width: 80%;
}
/* right section ends here  */

/* bbbbbbbbbbbbbbbbbbbbaaaaaaaaaaaaaaaaaaaaaannnnnnnnneeeer */

.banner {
  margin-bottom: -4.5rem;
  background-color: #181818;
  width: 100vw;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.banner img {
  margin: 2rem;
}
/* ssssssssssssssssssseeeeeeeeeeeeeeeerrrrrrrrrrrbvvvvvvvvvviiiiiiiice */

.transactions {
  background-color: #f0f8ff;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 4rem 0rem;
  padding: 2rem;
}
.firastChild {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  color: #fff;
}
.firastChild h1 {
  color: #0d0d0d;
  font-size: 40px;
}

.firastChild p {
  font-size: 17px;
  color: #6a6a6a;
}
.secondChild {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 5rem;
}
.box {
  background-color: #f0f8ff;

  text-align: center;
  height: 48vh;
  width: 19vw;
  margin: 2rem;
  color: #0d0d0d;
  box-shadow: 1px 1px #494949, -0.1em 0 0.1em #e2e2e2;
  cursor: pointer;
  font-weight: 600;
  border: 1px solid #494949;
  border-radius: 10%;
}

.box img {
  width: 40%;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}
.box p {
  margin-top: 1rem;
  font-size: 12px;
  font-weight: 400;
}

.box:hover {
  background-color: #0d0d0d;
  color: #f0f8ff;
  transform: translate(0rem, -5ex);
  transition: transform 280ms ease-out 50ms;
}
.cardChoice {
  width: 100vw;
  background-color: #f0f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 10rem 0;
}
.textfiled {
  margin-top: 3rem;
}
.textfiled h1 {
  font-size: 50px;
  font-weight: 400;
}

.textfiled p {
  margin-top: 3rem;
  color: #758283;
}
.imgforcard img {
  width: 70%;
}
/* aaaaaaaaaaaaaaaddddddddddddddddvvvvvvvvaaaaaaaaaaaaannnncccccccccce featutr  */
 .adavanced-featue{
  background-color: #f5f8fb;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:-5rem;
 

 }

 .head-text-feature{
  margin:3rem 0 2rem 0;
 }
 .head-text-feature h1{
   font-size:48px;
   margin-left: -5rem;
 
 }

 .blue-black{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-bottom: 8rem;
 }

 .colum-left{

  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
  
}
/* ------------------------------------------------? */
.first-one{
 width:65%;
  background-color: #0c8bfd ;
  display: flex;
  justify-content: space-between;
  align-items: center;
   border: 1px solid #9d9d9d;
   /* padding: 1rem 8rem; */
   border-radius: 2.5rem;
   margin: 1rem 0;
}
.left-text{
  padding:2rem 0.8rem;
  margin-right: 5rem;
  color: #f0f8ff;
  font-size: 20px;
  
}
.right-btn-sec{
  margin-right: 1rem;
}
.btn-one{
  background: transparent;
  border: none;
}
.first-one2{
  width: 65%;
  background-color: #f0f8ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
   border: 1px solid #9d9d9d;
   /* padding: 1rem 8rem; */
   border-radius: 2.5rem;
   margin: 1rem 0;
}


.left-text2{
  padding:2rem 0.8rem;
  margin-right: 5rem;
  color: #0d0d0d;
  font-size: 20px;
  font-weight: 700;
}
.first-one2:hover{
  overflow: hidden;
  color: #f0f8ff;
  background-color: #0c8bfd;
  transform: translate(0.1rem, 0.1ex);
  transition: transform 280ms ease-out 50ms;

}
.left-text2:hover{
  color: #f0f8ff;
}


.column-right{
  width: 60vw;
 border-radius:2rem;
 margin-left: -4rem;
 overflow: hidden;

}
.list-items{
  background-color:#0d0d0d;
  color: #f0f8ff;
  padding:1rem 1rem;
  
}
.list-circle{
  display: flex;
  align-items: center;
  background-color: #181818;
  padding:0.3rem 3rem;
  border-radius:2rem;
  margin:0.8rem 0;
}
.list-circle:hover{

  background-color: #232323;
  transform: translate(0.1rem, 0.1ex);
  transition: transform 280ms ease-out 50ms;
}


.list li{
  font-size: 35px;
}
.list li a{
  text-decoration: none;
  color: #f0f8ff;
  font-size: 19px;

}

/* sssssssssseeeeeeeeeeeeeerrrrrrvvviiieeeeeeeeecceend------------------ */
 /* ----------------------------plan section ------------------------------ */
 .plans{
  width: 100vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:2rem 0;
 }
 .left-arrow img{ 
  width:70%;
  margin-top:5rem;
 }

.plans-heading{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  color: #f0f8ff;
  font-size:25px;
 
}
.center-heading{
      margin: 0 8rem;
}

/*higffdg ____________________________________________________sdjkflksjf;lsk */
.all-plans{
  width: 100%;
  display: flex;
  justify-content: center;

}

/* ngfuhg_____________________________________________jlkdfjslkffj */
.regular{
  background-color: #f0f8ff;
  border-radius: 2rem;
  padding:2rem 1.2rem;
  margin:2rem 1rem;
}
.regular h2 {
  padding:0.7rem 0;
}
.regular h2 .price{
  font-size: 30px;
 
}
#month{
  color: #6a6a6a;
}
.regular p{
  font-size:14px;
  border-bottom:1px solid  #b7b7b7;
  padding-bottom: 20px;
  margin-bottom:1rem;

}

.feature-plans{
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
     
}
.plan-list li{
  list-style-type: none;
  margin:0.7rem 0;
}
.plan-list li img{
  position: relative;
  top:0.3rem;
 margin-right:0.4rem;
}
.btn-regular{
  background-color:#0c8bfd;
  padding:1rem 7rem;
  margin-top:1.2rem;
}
.btn-regular:hover{
  background-color: #232323;
  color: #0c8bfd;


}

.standard{
  background-color:#0c8bfd;
  color: #f0f8ff;
}
.btn-standard{
  background-color: #fff;
  color: #0c8bfd;
  padding:1rem 7rem;
  margin-top:0.7rem;
  
}
.btn-standard:hover{
  background-color: #313131;
  color: #f0f8ff;

}

.feedback{
  width:100vw;
  height:100vh;
  background-color:#f0f8ff;
  margin-top:2rem;


}
.for-text{
  display: flex;
  justify-content: space-around;
  padding: 3rem 0;
}
.for-text h1{
  font-size:35px;
}
.for-text p{
  margin-top:1rem;
  font-size: 14px;
   color: #848688;
}

/* ______parent remain______ */
.comment-ratings{

  display: flex;
  justify-content:flex-end;
  align-items: center;
  margin:3rem 0;
  margin-right:-3rem;

   
}

.comment-card{
  background-color: #0d0d0d;
  width: 40vw;
  color:#dbdfe2;
  border-radius: 1.2rem;
  padding:3rem 1rem;
  margin:0 1rem;
}
/* .img1 img{
  width:0.9rem;
} */
.comment-card h3{
  margin-top:1rem;
  font-size:15px;          
}
.role{
  color: #cacaca;
  font-size:11px;
  margin:0.2rem 0;
  margin-bottom:1rem;
}
.comment-card p{
  font-size:22px;
}
#stars img{
  margin-top:2rem;
  margin-bottom:-1rem;
  
}

#white-comment-card{
  background-color: #eef2f4;
  color: #0d0d0d;
  border:1px solid #b7b7b7;
}
.comment-card:hover{

  background-color: #232323;
  transform: translate(-1rem, -1rem);
  transition: transform 280ms ease-out 50ms;
}

.white-bar{
  width: 100vw;
  height:0.5rem;
  background-color: #c8c8c8;
  border-radius: 1rem;
  margin-left:14rem;
  position: relative;
}
#blue-bar{
 position: absolute;
  width:10vw;
  height:100%;
  border-radius:2rem;
  background-color: #0c8bfd;

}
.footer{
  width: 100%;
  color: #f0f8ff;
}
.footer-heading{
  text-align: center;
  margin:3rem 0;
}

.footer-form{
  width:100vw;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

}
#signup-form{
  padding:2rem 1rem;
  border-radius: 1rem;
  background-color:#2f2f2f;
  margin-bottom:1.5rem;
}

/* _________________________________________________________________ */

.input-items input{
    padding: 1rem 2rem;
    border-radius:2rem;
    margin:0 0.3rem;
    color: #eeeded;
    border: none;
    background-color: #474747;
}

.input-items input:hover{
  transform: scale(1.02);
  transition: transform 280ms ease-out 50ms;

}

.btn-footer{
  background-color:#0c8bfd;
  padding: 0.9rem 2rem;
}
.btn-footer:hover{
  background-color:#474747;
}
.footer-links{
      width: 60vw;
     display: flex;
     justify-content: space-evenly;
     border-top: 1px solid #474747;
     border-bottom: 1px solid #474747;
     margin-left: 18rem;

}


.link-inside{ 
  display: flex;
  flex-direction: column;  
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  margin:4rem 0;

}
.link-inside h1{
   margin-right: 1rem;
    text-align: left;
    font-size:15px;
}
.link-inside ul li{
   list-style-type: none;
   margin-top:0.7rem;
}
.link-inside ul li a{
  text-decoration: none;
  color:#d8d8d8;
}
.link-inside ul li a:hover{
  color: #0c8bfd;
}
.footer-logo{
  margin-left: 17rem;
  margin-top:1rem;
  margin-bottom: 2rem;
}
