/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Orbitron;
}

.container{
    margin: 30px 100px;
}

body{
    max-width: 1440px;
}

/* Nav-bar */
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-container > div > img{
    width: 100px;
}

.list {
    display: flex;
    align-items: center;
}

ul li{
    list-style: none;
    margin-right: 40px;
    font-weight: 500;
    font-size: 16px;
}

ul li:first-child{
    font-weight: 800;
}

ul li:first-child::after{
    content: " ";
    display: block;
    background-color: #000;
    width: 35px;
    height: 2px;
    margin-left: 10px;
}

.button-group{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-group .search-icon svg{
    width: 20px;
    margin: 5px 15px 0;
}

.button-group .nav-button{
    background-color: #fff;
    padding: 3px 35px;
    font-family: poppins;
    border-radius: 10px;
    color: rgb(99, 99, 99);
}

/* Hero-Banner */

/* .hero-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1,1fr);
} */

/* Left Side */

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.square img{
    position: relative;
    top: 140px;
    left: 110px;
    width: 240px;
}

/* Person hero */


.hero-container > div > img{
    position: absolute;
    top: 140px;
    left: 100px;
    width: 300px;
}

/*  Star */

.star:nth-child(2) img{
  width: 35px;
  position: absolute;
  top: 130px;
  right: 130px;
}

.star:nth-child(3) img{
    width: 25px;
    position: absolute;
    bottom: 60px;
    left: 500px;
  }

  /* Globe */

  .globe img{
    width: 40px;
    position: relative;
    bottom: 170px;
    left: 300px;

  }

/* Right side */
.hero-container-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
    height: 520px;
}


h1{
    margin-top: 150px;
    font-size:48px;
}

p{
    margin-top: 30px;
    font-family: poppins;
    font-size: 10px;
    width: 65%;
    text-align: center;
    color: rgb(146, 146, 146);
}

.button-email{
   margin: 70px 10px 0;
   padding: 2px 20px;
   background-color: #fff;
   border-radius: 5px;
   border: 1px solid black;
   color: rgb(87, 87, 87);
}

.button-join{
    padding: 0 2px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
}

h4{
    text-align: center;
    font-family: poppins;
    font-weight: 400;
    font-size: 12px;
    margin: 95px 0 7px;
}

.icons img{
    width: 20px;
    margin-left: 10px;
}

